.Logo{
	width: 200px;
	  height: 200px;
	  text-align: center;
      background: red;
	  border-radius: 50%;
	  margin-left: 40%;
}



.about{
	background-color: azure;
	height: 5%;
	padding: 5% ;
	margin-bottom: 10px;
	border:20px solid #2eb9ce;
	border-width:20px;
	border-style:solid;
	border-color:#2eb9ce;

}
body{
	background-color: antiquewhite;
}